body {
  background-color: #2f3338;
}

h2 {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
}

hr {
  border-color: #e9ecef;
}

label {
  color: #ffffff;
}

.form-text-dark {
  color: #d5d9df !important;
}

.head-box {
  background-color: #e9ecef;
  height: 1em;
}

.invalid-feedback-dark {
  color: #fc4555;
}
